<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.1/highcharts.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/modules/drilldown.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script language="JavaScript">

        //js for get json data
        $(document).ready(apply());

        function apply() {

            $.post("/chart", { message: "chart" }, function (data, status) {
                if (status == "success") {
                    //alert(data);
                    var data0 = JSON.stringify(data)
                    //alert(data0)
                    var data1 = eval("(" + data + ")")
                    //alert(JSON.stringify(data1))
                    var res = data1["income_drill"]
                    alert(JSON.stringify(res))

                    var res1 = data1["income_supercar"]
                    alert(JSON.stringify(res1))


                    //$("#result").html(JSON.stringify(city));
                    combine(res1)
                    bar(res)
                    //pie(res)
                }
                else {
                    alert("Ajax error");
                }
            });

        };

        // js for bar chart
        function bar(res) {

            data1 = []
            for (var i = 0; i < res.length; i++) {
                map = {};
                map["name"] = res[i].name;
                map["y"] = res[i].hightotal;
                map["drilldown"] = res[i].name;
                data1[i] = map;
            }

            drill = []
            for (var i = 0; i < res.length; i++) {
                map = {}
                map["type"] = 'pie'
                map["id"] = res[i].name
                map["data"] = []
                for (var j = 0; j < res[i].region.length; j++) {
                    elem = []
                    elem[0] = res[i].region[j].name
                    elem[1] = res[i].region[j].high

                    map["data"][j] = elem
                }
                drill[i] = map
            }

            var chart = {
                type: 'column',
                backgroundColor: 'rgba(255,255,255,0.1)'
            };
            var title = {
                text: ' High Income people (over 4000 Weekly)',
                style:{
                    color: 'rgb(255,255,255)',
                    fontSize: '10px'
                }

            };
            var subtitle = {
                text: 'Source: Aurin'
            };
            var xAxis = {
                type: 'category'
            };
            var yAxis = {
                min: 0,
                title: {
                    text: 'number of people'
                }
            };

            var tooltip = {
                headerFormat: '<span style="font-size:12px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' + '<td style="padding:0"><b>{point.y:.f} people</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            };

            var plotOptions = {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            };

            var credits = {
                enabled: false
            };

            var series = [{
                name: 'High income',
                colorByPoint: true,
                data: data1
            }
            ];

            var drilldown = {
                series: drill
            }

            var json = {};
            json.chart = chart;
            json.title = title;
            json.subtitle = subtitle;
            json.tooltip = tooltip;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.series = series;
            json.plotOptions = plotOptions;
            json.credits = credits;
            json.drilldown = drilldown;
            $('#bar').highcharts(json);
        }

        //js for combine chart
        function combine(res1) {

            var region = []
            var vader = []
            var income = []

            for (var i = 0; i < res1.length; i++) {
                region[i] = res1[i].region
                vader[i] = res1[i].vader
                income[i] = res1[i].people
            }

            var chart = {
                type: 'column',
                backgroundColor: 'rgba(255,255,255,0.1)'
            };
            var subtitle = {
                text: 'Source: https://portal.aurin.org.au AND Twitter'
            };
            var title = {
                text: 'Region data of supercar vader and high income people'
            };
            var xAxis = {
                categories: region,
            };
            var credits = {
                enabled:false
            }

            var series = [{
                name:'vader of supercar',
                data:vader
            },{
                name:'people with high income',
                data:income
            }
            ];

            var json = {};
            json.chart = chart;
            json.title = title;
            json.subtitle = subtitle;
            json.xAxis = xAxis;
            json.credits = credits;
            json.series = series;
            $('#combine').highcharts(json);


        }


        //js for pie chart
        function pie(res) {

            data1 = []
            for (var i = 0; i < res.length; i++) {
                map = {};
                map["name"] = res[i].name;
                map["y"] = res[i].lowtotal;
                map["drilldown"] = res[i].name;
                data1[i] = map;
            }

            drill = []
            for (var i = 0; i < res.length; i++) {
                map = {}
                map["type"] = 'pie'
                map["id"] = res[i].name
                map["data"] = []
                for (var j = 0; j < res[i].city.length; j++) {
                    elem = []
                    elem[0] = res[i].city[j].name
                    elem[1] = res[i].city[j].high

                    map["data"][j] = elem
                }
                drill[i] = map
            }

            var chart = {
                type: 'column',
                backgroundColor: 'rgba(255,255,255,0.5)'
            };
            var title = {
                text: ' Low Income (300-399 Weekly) in Australia'
            };
            var subtitle = {
                text: 'Source: Aurin'
            };
            var xAxis = {
                type: 'category'
            };
            var yAxis = {
                min: 0,
                title: {
                    text: 'number of people'
                }
            };

            var tooltip = {
                headerFormat: '<span style="font-size:12px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' + '<td style="padding:0"><b>{point.y:.f} people</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            };

            var plotOptions = {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            };

            var credits = {
                enabled: false
            };

            var series = [{
                name: 'State based data',
                colorByPoint: true,
                data: data1
            }
            ];

            var drilldown = {
                series: drill
            }

            var json = {};
            json.chart = chart;
            json.title = title;
            json.subtitle = subtitle;
            json.tooltip = tooltip;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.series = series;
            json.plotOptions = plotOptions;
            json.credits = credits;
            json.drilldown = drilldown;
            $('#pie').highcharts(json);
        }

    </script>
    <title>Show Chart</title>

    <style type="text/css">
        .mainbox {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
        }

        .mainbox>img {
            width: 100%;
            height: 100%;
            border: 0px;
        }

        .bar {
            position: fixed;
            left: 70%;
            top: 10%
        }

        .combine {
            position: fixed;
            left: 1%;
            top: 58%
        }
    </style>

</head>

<body>

    <div class="mainbox">
        <img class="img-fluid" src="/static/picture/ground.jpeg" />
    </div>


    <!--Navbar-->
    <div class="container floor-nav">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation"
            style="background-color: rgba(252, 252, 252, 0.2);">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ENVY</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/">Back to Home Page</a></li>
                        <li><a href="/chart">Chart</a></li>
                        <li><a href="/map">Map</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!--Bar Chart-->
    <div id="bar" class="bar" style="width: 350px; height: 300px;min-font-size: 9; margin: 0 auto"></div>
    <div id="combine" class="combine" style="width: 1400px; min-height:300px;min-font-size: 9; margin: 0 auto"></div>


</body>

</html>